  :root {
    --text: #1e293b;
    --color-text-light: #64748b;
    --font-family: "Chiron GoRound TC", sans-serif;

    --color-cream: #f5f2e7;
    --color-sage: #c5d3c1;
    --color-terracotta: #c57b58;

    --color-terracotta-hover: #b36846;
    --color-terracotta-light: #e09673;
    --color-sage-hover: #eaf1e7;

    --primary: var(--color-terracotta);
    --primary-hov: var(--color-terracotta-hover);
    --primary-foreground: #ffffff;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    --red-1: #ffe9ea;
    --red-2: #ffe0e2;
    --red-3: #f33a3e;
    --red-4: #e83939;
    --red-5: #b91d05;
  }

  body {
    background-color: var(--color-cream);
    color: var(--text);
  }


  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);

  }

  a {
    text-decoration: none;
  }

  input,
  textarea {
    font-family: var(--font-family);
    color: var(--text);

  }

  .unselectable {
    user-select: none;
  }