  :root {
    --back: #fbf9fe;
    --text: #1e293b;
    /* --font-family: "Rubik", sans-serif; */
    --font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    --red-1: #ffe9ea;
    --red-2: #fe3f41;
  }


  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);

  }

  a {
    text-decoration: none;
  }

  input,
  textarea {
    font-family: var(--font-family);
    color: var(--text);

  }

  .unselectable {
    user-select: none;
  }